
Section-2-Intermediate/Day-15-Intermediate-Local-Development-Environment-Setup-&-the-Coffee-Machine/Coffee+Machine+Program+Requirements.pdf
/Section-2-Intermediate/Day-16-Intermediate-Object-Oriented-Programming/Coffee+Machine+Classes+Documentation.pdf
Section-2-Intermediate/Day-20-Intermediate-Build-the-Snake-Game-Part1-Animation&Coordinates/pixeloid-font.zip
/Section-2-Intermediate/Day-20-Intermediate-Build-the-Snake-Game-Part1-Animation&Coordinates/peaceful_garden.mp3
/Section-2-Intermediate/Day-20-Intermediate-Build-the-Snake-Game-Part1-Animation&Coordinates/moody-blip-43107.mp3
/Section-2-Intermediate/Day-20-Intermediate-Build-the-Snake-Game-Part1-Animation&Coordinates/eatingsfxwav-14588.mp3
/Section-2-Intermediate/Day-20-Intermediate-Build-the-Snake-Game-Part1-Animation&Coordinates/game_sounds.zip
Section-2-Intermediate/Day-20-Intermediate-Build-the-Snake-Game-Part1-Animation&Coordinates/game-over-arcade-6435.mp3
Section-2-Intermediate/Day-20-Intermediate-Build-the-Snake-Game-Part1-Animation&Coordinates/SLOWER-TEMPO2019-12-09_-_Retro_Forest_-_David_Fesliyan.mp3
/Section-2-Intermediate/Day-20-Intermediate-Build-the-Snake-Game-Part1-Animation&Coordinates/pixel-perfect-112527.mp3
/Section-2-Intermediate/Day-20-Intermediate-Build-the-Snake-Game-Part1-Animation&Coordinates/pixel-death-66829.mp3
/Section-2-Intermediate/Day-24-Intermediate-Files-Directories-and-Paths/Mail+Merge+Project+Start.zip
/Section-2-Intermediate/Day-24-Intermediate-Files-Directories-and-Paths/__MACOSX/
Section-2-Intermediate/Day-24-Intermediate-Files-Directories-and-Paths/Mail Merge Project Start/Output/.DS_Store
